* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textarea {
    width: 890px;
    height: 300px;
    margin: 50px;
    padding: 10px;
    resize: none;
    font-size: 24px;
}

.keyboard {
    gap: 7.5px;
    display: flex;
    flex-wrap: wrap;
    width: 890px;
    padding: 7.5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.keyboard__key {
    cursor: pointer;
    transition: 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 22px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    color: #222222;
    background-color: #eeeeee;
}

.keyboard__key:hover {
    border-color: #aab8df;
}

@keyframes keyActive {
    0% {
        background-color: #eeeeee;
    }
    100% {
        background-color: #aab8df;
    }
}

@keyframes keyRemove {
    0% {
        background-color: #aab8df;
    }
    100% {
        background-color: #eeeeee;
    }
}

.keyboard__key.active {
    animation: keyActive 0.1s linear forwards;
}

.keyboard__key.remove {
    animation: keyRemove 0.1s linear forwards;
}

.key-backspace {
    width: 125px;
}

.key-tab {
    width: 62.5px;
}

.key-del {
    width: 55px;
}

.key-shift,
.key-caps {
    width: 125px;
}

.key-enter,
.key-shift-right {
    width: 107.5px;
}

/* .key-ctrl, .key-ctrl-right {} */

/* .key-win {} */

/* .key-alt, .key-alt-right {} */

.key-space {
    width: 412.5px;
}
